@import 'styles/vars';

.container {
  min-height: rem(69);
  width: 100%;
  color: $dark-gray;
  display: flex;
  border-bottom: $gray-border;
  background-color: $light-bg;
  flex-wrap: wrap;
  align-items: center;
}

.label {
  display: flex;
  align-items: center;
  height: rem(69);
  padding: 0 em(15) 0;
  border-right: $gray-border;

  & p {
    margin-left: em(4);
    font-size: em(14);
    font-weight: 500;
  }
}

.filterButton {
  @include button;
  font-size: em(14);
  border-right: $gray-border;
  padding: em(30);

  & span {
    position: relative;
    margin-right: 14px;
    opacity: 1;
    transition: opacity 250ms ease-in-out;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: -14px;
      transform: translateY(-50%) rotate(180deg);
      border-right: solid rem(5) transparent;
      border-left: solid rem(5) transparent;
      border-bottom: solid rem(5) black;
      transition: transform 250ms ease-in-out;
    }

    &.withFilter::before {
      content: '';
      position: absolute;
      top: em(-12);
      right: em(-28);
      width: rem(10);
      height: rem(10);
      border-radius: 50%;
      background-color: $green-main;
    }
  }

  &.active {
    background-color: $white;

    & span::after {
      transform: translateY(-50%) rotate(0deg);
    }
  }

  &:hover {
    & span {
      opacity: 0.5;
    }
  }
}

.overlay {
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  width: 100vw;
  height: 100vh;
  background-color: $dark-gray-hover;
  transition: width 250ms ease-in-out, height 250ms ease-in-out,
    opacity 250ms ease-in-out;

  &.modalOpen {
    opacity: 1;
  }
}

.filtersModal {
  position: absolute;
  background-color: $white;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out;
  padding: em(30) em(36) em(30);
  border-bottom: $gray-border;
  z-index: 2;

  &.modalOpen {
    opacity: 1;
    visibility: visible;
  }
}

.tagsLabel {
  text-transform: uppercase;
  font-size: em(14);
  font-weight: 500;
  margin-bottom: em(20);
}

.tagContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.filterTag {
  // TODO extend existing class
  padding: em(5) em(25);
  color: $dark-gray;
  font-weight: 500;
  border: 1.2px solid #dcdfdf;
  border-radius: 30px;
  margin-right: em(10);
  margin-bottom: em(10);
  transition: color 250ms ease-in-out, border-color 250ms ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;

  &.active {
    color: $green-main;
    border-color: $green-main;
  }

  & .checked {
    margin-left: em(-15);
    margin-right: em(4);
  }
}

.applyBtn {
  @include button;

  background-color: $green-main;
  color: white;
  padding: em(8) em(12);
  margin-top: em(16);
  font-size: em(14);
  font-weight: 600;

  &:hover {
    background-color: $green-darker;
  }
}

.appliedFiltersBox {
  padding: 0 em(16);

  & h3 {
    margin: em(8) 0 em(12);
    font-weight: 500;
  }

  & .tagsLabel {
    margin-bottom: em(10);
  }

  & .filterTag {
    background-color: $gray-secondary;
    font-weight: 400;
    border: none;
    padding: em(5) em(10);
    display: flex;
    align-items: center;

    &:hover {
      cursor: unset;
      color: unset;
    }
  }
}

.resetBtn {
  font-weight: 500;
}
